@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

article,div,nav {
    margin: 5rem auto;
    max-width: 6in;

}

h1,h2 {
    font-family: "Libre Barcode 39 Text";
    font-size: 5vw;
    line-height: 6rem;
}

a {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: solid #d92;
}
a:hover {
    color: darksalmon;
}

blockquote {
    font: italic 95%/1.4 system-ui;
    border-left: solid #d92;
    margin: 2em 0;
    padding: 0 4%;
}

sup {
    font: icon;
}

section {
    font-size: 85%;
    margin: 2lh 0;
}

@media screen and (max-width: 1000px){
    body{
        background-color: rgb(25, 128, 130);
        
    } 
    h1 {
        font-family: "Libre Barcode 39 Text";
        font-size: 15vw;
        color: black;
        line-height: 10rem;
    }
    h2{
        font-family: "Libre Barcode 39 Text";
        font-size: 10vw;
        line-height: 20%;
        margin-top:40%;
    }
    a{
        font-size: 3vw;
        
    }
}

