@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*MAIN HEAD and Container*/
.header {
    position: relative;
}
h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 15vw;
    padding: 20px;
    margin-bottom: 4%;
    margin-left: 2%;
    line-height: 16%;
    margin-top: 10%;
}
h2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 6.4vw;
    font-weight: 600;
    font-style: italic;
    margin-top: 0%;
    padding: 10px;
    margin-left: 3.7%;
    line-height: 5vw;
}

.contain{
    position: relative;

}

/*LINKS*/
a {
    float:right;
}
img {
    width: 7vw;
}
.home {
  position: absolute;
  top: 1%;
  right:3.5%;
}
.classweb {
  position: absolute;
  top: 50%;
  right:3.5%;
}

/*TEXT*/
p{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 2vw;
}
#text1{
    width: 45%;
    float: left;
    margin-bottom: 10%;
    margin-left: 4%;
    font-weight: 300;
    
}
#text2{
    width: 45%;
    float: right;
    margin-bottom: 10%;
    margin-right: 4.5%;
    font-weight: 300;
}

/*SLIDERS*/
.slide1,.slide2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6vw;
    font-weight: 500;
    margin-left: 3%;
    line-height: 0%;
}
.b1,.b2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6vw;
    font-weight: 500;
    margin-left: 3%;
    line-height: 0%;
}
input {
    --c: rgb(0, 0, 0); /* active color */
    --l: 40px; /* line thickness*/
    --h: 50px; /* thumb height */
    --w: 10px; /* thumb width */
    
    width: 11%;
    height: var(--h); /* needed for Firefox*/
    --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
    -webkit-appearance :none;
    -moz-appearance :none;
    appearance :none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    margin-left: 3%;
    margin-bottom: 4%;
  }
  input:focus-visible,
  input:hover{
    --p: 25%;
  }
  
  /* chromium */
  input[type="range" i]::-webkit-slider-thumb{
    height: var(--h);
    width: var(--w);
    background: var(--_c);
    border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
    -webkit-appearance: none;
    appearance: none;
    transition: .3s;
  }

#numbers{
  font-size: 1.6vw;
  margin-left:3%;
  margin-top:-2%;
  margin-bottom: 5%;
  line-height: 0px;
}

/*buttons*/

.switch {
  position: relative;
  display: inline-block;
  width: 10vw;
  height: 5vw;
  margin-left: 3%;
  margin-bottom: 3%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.tog {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.tog:before {
  position: absolute;
  content: "";
  height:3.9vw;
  width: 26px;
  left: 4px;
  bottom: 10%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .tog {
  background-color: #000000;
}

input:focus + .tog {
  box-shadow: 0 0 1px #000000;
}

input:checked + .tog:before {
  -webkit-transform: translateX(7rem);
  -ms-transform: translateX(7rem);
  transform: translateX(7rem);
}

/*Color Boxes*/
#color-i,#color-ii,#color-iii,#color-iv{
    width: 6.5vw;
    height:6.5vw;
    border: .2rem solid black;
    margin-bottom: 1%;
    margin-right: 0%;
    
}
#color-ii,#color-iv{
  margin-left: 1.2%;
}

.colors {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6vw;
  font-weight: 500;
  margin-left: 3%;
  margin-bottom: 2%;
  line-height: 2%;
}

/*Music Note*/
#notes {
  width: 3rem;
  position: absolute;
  margin-left: 3%;
  margin-top: 3%;
  padding-bottom: 5%;
  cursor: pointer;
}

#saves {
    width: 2.8rem;
    position: absolute;
    margin-left: 12.4%;
    margin-top: 3%;
    padding-bottom: 5%;
    cursor: pointer;
}

/*canvas*/

canvas {
  position: absolute;
  /*background-color: #000000;*/
  margin-right: 3%;
  margin-bottom: 10%;
  top: 25vw;
  right: 0%;
  border: none;
}

#blank{
  margin-bottom: 10vw;
}


