body {
    margin:25px;
}

img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

h1 {
  font-size: 6vw;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 1vw;
  margin-top: 8vw;
  
}
h5{
    font-size: 1.5rem;
    line-height: 20px;
    margin-top: -5%;
}

.bodytext {
  text-align: center;
  padding: 1rem;
}
/*used W3Schools Example for polaroid photos*/

div.suggestion {
  width: 85%;
  border-radius: 30px;
  background-color: rgb(224, 206, 192);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.text {
  text-align: center;
  padding: 10px 20px;
}

h2{
   font-family: "Reenie Beanie", cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 3rem;
   line-height: 80%;
}

.button{
display: inline-block;
padding: 15px 25px;
font-size: 2vw;
font-weight: 700;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #000000;
background-color: rgb(207, 110, 110);
border: none;
border-radius: 2rem;
margin-bottom: 6vw;
margin-left: 38%;
cursor: url("../images/meatcursor.png"), auto;
}
.button:hover{
  background-color: #000000;
  color: antiquewhite;
}